[submodule "QRail"]
	path = QRail
	url = https://github.com/DylanVanAssche/QRail.git
[submodule "universal-components"]
	path = universal-components
	url = https://github.com/M4rtinK/universal-components.git
